@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
.context {
    text-align: center;
    width: 100%;
    font-family: "EB Garamond", serif;
    /*font-family: 'Exo', sans-serif;*/

    position: relative;
    z-index: 1;
}
#header{
    display: block;
    max-width: 60%;
    padding: 10px 20px 10px 20px;


    
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png) repeat;
  margin: auto;
}
#header a{
    text-decoration: none;
    color: #333;

}
#header p{
    padding-top: 2px;
    padding-bottom: 5px;
    color: #333;
}

.context h1{
    text-align: center;
    color: #333;
    font-size: 72px;
}
.context h3{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

