<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bg.css">
    <link rel="stylesheet" href="frontpage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body class="area">


    <center>
        <div class="context">
            <div id="header">
                <h1><a href="fAIrNews">fAIrNews</a></h1>
                <hr>
                <p>5 de mayo de 2024</p>
                <hr>
            </div>


        </div>

        <div id="main">

            <a href="noticia" id="preview-high">
                <span>keyword: PUENTE</span>
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo. pregunta a Sánchez.</h1>
            </a>
            <a href="noticia" id="preview-medium">
                <span>keyword: SANCHEZ</span>
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                    alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo. pregunta a Sánchez.</h1>
                <p>Las principales autovías de entrada a Madrid registran retenciones por el regreso del puente de mayo
                    que a las 18.00 horas son significativas en la A-1, la A-3 y A-5, según informa la Dirección General

                </p>
            </a>
            <a href="noticia" id="preview-medium">
                <span>keyword: TRAFICO</span>
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                    alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo. pregunta a Sánchez.</h1>
                <p>Las principales autovías de entrada a Madrid registran retenciones por el regreso del puente de mayo
                    que a las 18.00 horas son significativas en la A-1, la A-3 y A-5, según informa la Dirección General
                    de Tráfico (DGT).Las principales autovías de entrada a Madrid registran retenciones por el regreso
                    del puente de mayo que a las 18.00 horas son significativas en la A-1, la A-3 y A-5, según informa
                    la Dirección General de Tráfico (DGT)...
                </p>
            </a>


            <a href="noticia" id="preview-low">
                <span>keyword: COCHE</span>
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                    alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo.</h1>
                <p>Las principales autovías de entrada a Madrid registran retenciones por el regreso del puente...
                </p>
            </a>
            <a href="noticia" id="preview-low">
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                    alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo. pregunta a Sánchez.</h1>
                <p>Las principales autovías de entrada a Madrid registran retenciones por el regreso del puente de mayo
                    que a las 18.00 horas son significativas...
                </p>
            </a>
            <a href="noticia" id="preview-low">
                <img src="https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2024/05/04/sanchez-milei-y-puente.jpeg"
                    alt="Imagen Destacada" class="full-width">
                <h1>La cicatriz Puente no rectifica a Milei y acusa a Feijóo. pregunta a Sánchez.</h1>
                <p>Las principales autovías de entrada a Madrid registran retenciones por el regreso del puente de mayo
                    que a las 18.00 horas son significativas en la A-1, la A-3 y A-5, según informa la Dirección General
                    de Tráfico (DGT).Las principales autovías de entrada a Madrid registran retenciones por el regreso
                    del puente de mayo que a las 18.00 horas son significativas en la A-1, la A-3 y A-5, según informa
                    la Dirección General de Tráfico (DGT)...
                </p>
            </a>

        
        </div>
        <div id="footer">
            <hr>
            <p>
                Noticias capturadas: 100
            </p>
            <p>
                Keywords descifradas: 7
            </p>
            <p>
                Noticias generadas: 6
            </p>
            <p>
                Numero de medios: 12
            </p>
        </div>
    </center>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</body>

</html>